@media (max-width: 479px) {
	.sidebar{
        display: none;
    }
    .album-cover{
        display: none;
    }
    .controls-btn{
        display: none;
    }
    .controls-details{
        display: none;
    }
    .playlist-list{
        height: 320px;
    }
    .playlist{
        position:relative;
        left: auto;
        width: 100%;
        height: 90%;
        font-size: 0.9em;
        top:0px
    }
    .controls{
        width: 90%;
        margin-left: 0px;
        position: absolute;
        bottom:15px;
        padding-left: 15px;
        .start{
            font-size: 10px;
        }
        .end{
            font-size: 10px;
        }
        .play-line{
            width: 70%;
        }
    }
    .play-btn .fas{
        margin-top:9px ;
    }
    .mainbar{
        height: 100vh;
    }
    .small-controls{
        display: flex;
        position: absolute;
        bottom:110px;
        flex-direction: row;
        width: 90%;
        padding-left: 20px;
        padding-right: 20px;
        height: 20px;
        justify-content: space-between;
        .big{
            font-size: 1.7em;

        }
        div{
            height:100%;
            width: 30%;
            text-align: center;
        }
    }

    .playlists-list{
        width: 100%;
        display: flex;
        height:65% ;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    
        margin-top: 10px;
        overflow: auto;
        .playlist-cover{
         width: 48%;
        background-size: cover;
        margin-top: 5px;
        margin-bottom: 50px;
         height: 140px;
         background-color: red;
        }
    }
    
}
@media (max-width:1012px) {
    .container{
        margin: 0px;
        max-width: 100%;
        height: 100vh;
        span{
            font-size: 12px;
            margin-left: 5px;
        }
    }
    .col-3{
        padding-left: 90px;
        padding-right:5px;
    }
    .controls{
        margin-top: 30%;
    }
}